<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="customer : ${customers}" >
    <div th:onclick="'javascript:rowClicked(\'' + ${customer.id} + '\');'">
        <td>Customer nr:</td>
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
    </div>
    <button th:onclick="'javascript:deleteCustomer(\'' + ${customer.id} + '\');'">DELETE</button>
</div>

<div>
    <input id="first_name" placeholder="First name..">
    <input id="last_name" placeholder="Last name..">
    <input id="address" placeholder="Address..">
    <input id="phone" placeholder="Phone nr..">
    <button onclick="addCustomer()">Add new customer</button>
    <p> You gotta refresh after adding. This ain't no front end project!<br>
        I promise. The customers are clickable</p>
</div>


<script>
    function deleteCustomer(customerId) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/customers/" + customerId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({}));
    }

    function addCustomer() {
        let firstName = document.getElementById("first_name").value;
        let lastName = document.getElementById("last_name").value;
        let address = document.getElementById("address").value;
        let phone = document.getElementById("phone").value;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/customers", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            "firstName": firstName,
            "lastName": lastName,
            "address": address,
            "phone": phone
        }));
    }

    function rowClicked(value) {
        location.href = "/customers/" + value + "/orders";
    }
</script>
</body>
</html>