<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="order : ${orders}">
    <div th:onclick="'javascript:rowClicked(\'' + ${order.id} + '\', \''+${customerId}+'\');'">
        <td>Order:</td>
        <td th:text="${order.id}"></td>
    </div>
    <button th:onclick="'javascript:deleteOrder(\'' + ${customerId} + '\', \''+${order.id}+'\');'">DELETE</button>
</div>

<button th:onclick="'javascript:addNewOrder(\'' + ${customerId} + '\');'">Add new order</button>


YEAP, you still need to refresh the page
<script>
    function deleteOrder(customerId, orderId) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/customers/" + customerId + "/orders/" + orderId, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({}));
    }

    function addNewOrder(customerId) {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/customers/" + customerId + "/orders/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({}));
    }

    function rowClicked(value, customerId) {
        location.href = "/customers/" + customerId + "/orders/" + value + "/pizzas";
    }
</script>

</body>
</html>