<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="pizza : ${pizzas}">
    <td>Pizza id:</td>
    <td th:text="${pizza.id}"></td>
    <td>Extra cheese:</td>
    <td th:text="${pizza.extraCheese}"></td>
    <td>Extra tomato:</td>
    <td th:text="${pizza.extraTomato}"></td>
    <td>Extra pepperoni</td>
    <td th:text="${pizza.extraPepperoni}"></td>
    <button th:onclick="'javascript:deletePizza(\'' + ${customerId} + '\', \''+${orderId}+'\', \''+${pizza.id}+'\');'">DELETE</button>
</div>
<div>
    <td>TOTAL PRICE:</td>
    <td th:text="${price}"></td>
</div>
<input type="checkbox" id="extraCheese" name="extraCheese" value="extraCheese">
<label for="extraCheese">Extra cheese</label><br>
<input type="checkbox" id="extraTomato" name="extraTomato" value="extraTomato">
<label for="extraTomato"> Extra tomato</label><br>
<input type="checkbox" id="extraPepperoni" name="extraPepperoni" value="extraPepperoni">
<label for="extraPepperoni"> Extra pepperoni</label><br>
<button th:onclick="'javascript:addPizza(\'' + ${customerId} + '\', \''+${orderId}+'\');'">Order pizza</button>

Guess what; You gotta refresh to see your changes!

<script>
    function deletePizza(customerId, orderId, pizzaId) {
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "/customers/" + customerId + "/orders/" + orderId + "/pizzas/"+pizzaId);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
        }));
    }

    function addPizza(customerId, orderId) {
        let extraCheese = document.getElementById("extraCheese").checked;
        let extraTomato = document.getElementById("extraTomato").checked;
        let extraPepperoni = document.getElementById("extraPepperoni").checked;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/customers/" + customerId + "/orders/" + orderId + "/pizzas/", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            "extraCheese": extraCheese,
            "extraTomato": extraTomato,
            "extraPepperoni": extraPepperoni
        }));
    }
</script>

</body>
</html>